<%= link_to "CSV", spots_path(format: :csv) %>

<% @spots.each.with_index(1) do |spot, index| %>
  <p><%= index %> <%= spot.name %>
  <%= render partial: 'user_spots/user_spots_form', locals: {spot: spot, user_spots: @user_spots} %>

  <p><%= spot.address %></p>
  <p>Admission Fee: <%= spot.admission_fee %></p>
  <p>Time spent: <%= spot.duration %></p>
  <p><%= spot.latitude %>, <%= spot.longitude %></p>
  <br>
<% end %>
