<div class="spot-search-card" id="pac-card">
  <div id="title">
    Find a spot
  </div>
  <div id="pac-container">
    <input id="pac-input" class="form-control" type="text" placeholder="Enter a location">
  </div>

  <%= form_with(model:@spot) do |f| %>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name, id:"name", class:"gmap-reset form-control" %>
    </div>
    <div>
      <%= f.label :address %>
      <%= f.text_field :address, id:"address", class:"gmap-reset form-control" %>
    </div>
    <div>
      <%= f.label :admission_fee %>
      <%= f.text_field :admission_fee, id:"admin_fee", class:"gmap-reset form-control" %>
    </div>
    <div>
      <%= f.label :address %>
      <%= f.text_field :formatted_address, id:"formatted_address", class:"gmap-reset" %>
    </div>
    <div>
      <%= f.text_field :phone_num, id:"phone_num", class:"gmap-reset" %>
      <%= f.text_field :rating, id:"rating", class:"gmap-reset" %>
      <%= f.text_field :website, id:"website", class:"gmap-reset" %>
      <%#= f.text_field :latitude, id:"lat", class:"gmap-reset" %>
      <%#= f.text_field :longitude, id:"lng", class:"gmap-reset" %>
      <%= f.text_field :place_id, id:"place_id", class:"gmap-reset" %>
    </div>
    <div>
      <%= f.submit "保存", class:"btn btn-primary"%>
      <%= link_to '戻る', spots_path, class:"btn btn-light" %>
    </div>
  <% end %>
</div>
<div id="searchMap"></div>
<div id="infowindow-content">
  <img src="" width="16" height="16" id="place-icon">
  <span id="place-name"  class="title"></span>
  <span id="place-rating"></span><br>
  <span id="place-address"></span>
  <span id="place-phone_number"></span>
  <span id="place-website"></span>
</div>
<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?language=ja&region=JP&key=#{ENV['GOOGLE_API_KEY']}&libraries=places&callback=initMap" %>