 <div class="card trip-form-box">
  <div class="card-body mx-2 my-4">
    <%= form_with(model: @trip, local:true) do |f| %>
    <%= render 'shared/error_msg', model: @trip%>
      <div id="chartdiv"></div>
      <div class="mt-4 text-center">
        <div class="d-flex justify-content-center">
          <div class="local-plate">
            <span><%= current_user.country.name %></span>
            <span><%= current_user.state.name if current_user.state.name  %></span>
            <span><%= current_user.city.name if current_user.city.name %></span>
          </div>
          <div class="mx-3 my-auto"><i class="fas fa-arrows-alt-h"></i></div>
          <div class="local-plate">
            <span><%= @trip.destination_countries.first.name %></span>
            <span><%= @trip.destination_states.first.name if @trip.destination_states.first %></span>
            <span><%= @trip.destination_cities.first.name if @trip.destination_cities.first %></span>
          </div>
        </div>
      </div>
      <div class="my-4">
        <%= f.label :name, "トリップ名", class:"mb-1"%>
        <%= f.text_field :name, autofocus: true,  class:"form-control" %>
      </div>
      <div class="mb-3">
        <%= f.label :description, "詳細・メモ", class:"mb-1"%>
        <%= f.text_field :description, class:"form-control" %>
      </div>
      <div class="mb-3">
        <%= f.label :date_range, "旅行の日数・期間", class:"mb-1" %>
        <%= f.text_field :date_range, id:"date-range-picker", class:"form-control"%>
      </div>
      <div class="mb-3">
        <%= f.hidden_field :start_day, value: @trip.start_day.strftime("%Y-%m-%d"), class:"start_hidden" %>
        <%= f.hidden_field :end_day, value: @trip.end_day.strftime("%Y-%m-%d"), class:"end_hidden" %>
      </div>

      <div class="custom-control custom-checkbox my-4">
        <%= f.check_box :privacy, as: :boolean, class:"custom-control-input"%>
        <%= f.label :privacy, "旅行のスケジュールをを公開しません", class:"custom-control-label" %>
      </div>

      <div class="text-center">
        <%= f.submit "更新する", class: "btn btn-primary"%>
        <%= link_to 'Back', request.referer, class: "ml-3 btn btn-outline-primary" %>
      </div>
    <% end %>
  </div>
</div>

<script>
  $(document).ready(initialize_flight_map)
</script>

<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/maps.js"></script>
<script src="https://www.amcharts.com/lib/4/geodata/worldLow.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>