<%= form_with(model: @trip) do |f| %>
  <div>
    <p>Destination:
      <% if @trip.to_countries.count == 1 && @trip.to_states.count == 1 %>
        <%= @trip.destination_countries.first.name %>
        <%= @trip.destination_states.first.name %>
        <%= @trip.destination_cities.first.name if @trip.destination_cities.first %>
      <% end %>
    </p>
  </div>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div>
    <%= f.label :date_range %>
    <%= f.text_field :date_range, class:"trip-date-range-picker" %>
  </div>
  <div>
    <%= f.hidden_field :start_day, class:"start_date" %>
    <%= f.hidden_field :end_day, class:"end_date" %>
  </div>

  <div>
    <%= f.submit %>
    <%= link_to 'Back', user_path(current_user) %>
  </div>
<% end %>