<%= form_with(model: @trip) do |f| %>
  <div>
    <p>Destination:
      <%= @trip.destination_countries.first.name %>
      <%= @trip.destination_states.first.name if @trip.destination_states.first  %>
      <%= @trip.destination_cities.first.name if @trip.destination_cities.first %>
    </p>
  </div>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div>
    <%= f.label :date_range %>
    <%= f.text_field :date_range, value: date_default, id:"date-range-picker" %>
  </div>
  <div>
    <%= f.hidden_field :start_day, value: @trip.start_day.strftime("%Y-%m-%d"), class:"start_hidden" %>
    <%= f.hidden_field :end_day, value: @trip.end_day.strftime("%Y-%m-%d"), class:"end_hidden" %>
  </div>

  <div>
    <%= f.submit %>
    <%= link_to 'Back', user_path(current_user) %>
  </div>
<% end %>