<div class="container mt-5">
  <div class="row">
  <% @trips.each do |trip| %>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="trip-card">
        <%= image_tag trip.trip_image, class:"trip-image" %>
        <div class="caption">
          <h5><%=trip.destination_countries.first.name%></h5>
          <h3><%=trip.destination_states.first.name%></h3>
          <div class="trip-details mt-3">
            <div class="text-center mb-2 mr-3">
              <%=image_tag trip.user.avatar, class:"trip-card-avatar mr-2"%>
              <%=trip.user.name%>
            </div>
            <table class="table mb-0">
              <tbody>
                <tr>
                  <th class="text-light align-middle text-center">旅行期間<br>(<%= trip_duration(trip) %> 日間)<br>
                  </th>
                  <td class="text-light text-center">
                    <%= trip.start_day %>
                    <br>|<br>
                    <%= trip.end_day %>
                  </td>
                </tr>
                <tr>
                  <th class="text-light align-middle text-center">旅行スポット
                  </th>
                  <td class="text-light text-center">
                    <%= trip.schedules.count%> か所
                  </td>
                </tr>
                <tr>
                  <th class="text-light align-middle text-center">旅行費用
                  </th>
                  <td class="text-light text-center">
                    <%= trip.est_amount%> yen
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <%= link_to '', overall_trip_schedules_path(trip)%>
        </div>
      </div>
    <%end%>
  </div>
</div>