<%= form_with(model: @trip, local: true) do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div>
    <%= f.label :start_day %>
    <%= f.date_select :start_day %>
  </div>
  <div>
    <%= f.label :end_day %>
    <%= f.date_select :end_day %>
  </div>

  <div class="continent-area">
    <%= f.label :continent_id %>
    <%= f.collection_select :continent_id, Continent.order(:name), :id, :name, include_blank: true%>
  </div>

  <div class="country-area" style="display:none;">
    <%= render partial: 'locations/select_country', locals: {continent_id: 0} %>
  </div>

  <div class="state-area" style="display:none;">
    <%= render partial: 'locations/select_state', locals: {country_id: 0} %>
  </div>

  <div class="city-area" style="display:none;">
    <%= render partial: 'locations/select_city', locals: {state_id: 0} %>
  </div>

  <div>
    <%= f.submit %>
    <%= link_to 'Back', trips_path%>
  </div>
<% end %>