<%= form_with(model: @trip) do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div>
    <%= f.label :start_day %>
    <%= f.date_select :start_day %>
  </div>
  <div>
    <%= f.label :end_day %>
    <%= f.date_select :end_day %>
  </div>

  <div class="continent-area">
    <%= f.label :continent_id %>
    <%= f.collection_select :continent_id,
        Continent.order(:name), :id, :name, include_blank: true
        %>
  </div>

  <div class="country-area" style="display:none;">
    <%= render partial: 'locations/to_country',
        locals: { f: f, countries: @countries} %>
  </div>

  <div class="state-area" style="display:none;">
    <%= render partial: 'locations/to_state',
        locals: { f: f, states: @states} %>
  </div>

  <div class="city-area" style="display:none;">
    <%= render partial: 'locations/to_city',
        locals: { f: f, cities: @cities} %>
  </div>

  <div>
    <%= f.submit %>
    <%#= link_to_add_association 'Add Location', f, :to_countries, data: {association_insertion_node: '.travel', association_insertion_method: :append }%>
    <%= link_to 'Back', trips_path%>
  </div>
<% end %>