<%= form_with(model: @trip) do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div>
    <%= f.label :date_range %>
    <%= f.text_field :date_range, class:"date-range-picker" %>
  </div>
  <div>
    <%= f.hidden_field :start_day, value: Date.today, class:"start_date" %>
    <%= f.hidden_field :end_day, value: Date.today, class:"end_date" %>
  </div>

  <div class="continent-area">
    <%= f.label :continent_id %>
    <%= f.collection_select :continent_id,
        Continent.order(:name), :id, :name, include_blank: true
        %>
  </div>

  <div class="country-area" style="display:none;">
    <%= render partial: 'locations/to_country',
        locals: { f: f, countries: @countries} %>
  </div>

  <div class="state-area" style="display:none;">
    <%= render partial: 'locations/to_state',
        locals: { f: f, states: @states} %>
  </div>

  <div class="city-area" style="display:none;">
    <%= render partial: 'locations/to_city',
        locals: { f: f, cities: @cities} %>
  </div>

  <div class="field">
    <%= f.label :privacy %>
    <%= f.check_box :privacy, :as => :boolean%>
  </div>

  <div>
    <%= f.submit %>
    <%= link_to 'Back', user_path(current_user) %>
  </div>
<% end %>