<div class="card devise-box">
  <div class="card-body">
    <div>
      <%= image_tag "logos/brand_logo_blue.png", class:"form-brand-image"%>
    </div>
    <%= link_to "ログイン", new_session_path(resource_name), class:"float-right btn btn-outline-primary" %>
    <h5 class="card-title mb-4 mt-1 ml-5 pl-5">新規登録</h5>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="form-group">
        <%= f.text_field :name, autofocus: true,  class:"form-control", placeholder:"名前" %>
      </div>
      <div class="form-group">
        <%= f.email_field :email, autocomplete: "email",  class:"form-control", placeholder:"メールアドレス" %>
      </div>
      <% if @minimum_password_length %>
        <div class="text-right text-muted">
          <small class="fas fa-exclamation-circle"> パスワードの長さは最低 <%= @minimum_password_length %>文字です。</small>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control text-muted", placeholder: "パスワード" %>
      </div>
      <div class="form-group">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "パスワード再入力" %>
      </div>
      <div class="form-group country-area text-left">
        <%= f.collection_select :country_id, Country.order(:name), :id, :name, {prompt: "お住まいの国をお選びください"}, {class: "form-control col"} %>
      </div>
      <div class="form-group state-area" style="display:none;">
        <%= render partial: 'locations/select_state', locals: {country_id: 0} %>
      </div>
      <div class="form-group city-area" style="display:none;">
        <%= render partial: 'locations/select_city', locals: {state_id: 0} %>
      </div>
      <div class="actions">
        <%= f.submit "登録", class: "btn btn-primary btn-block" %>
      </div>
    <%end%>
    <hr>
    	<p>
        <a href="" class="btn btn-block btn-outline-danger disabled"> <i class="fab fa-google"></i>　Googleアカウントでログイン</a>
        <p class="h7 text-muted"></p>
      </p>
  </div>
</div>