<div class="row">
  <% relationships.each do |user| %>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card follow-card text-center">
        <div class="text-right">
        <%= render 'relationships/follow_form', user: user %>
        </div>
        <div class="avatar-box-sm mt-3">
          <%= image_tag user.avatar, class:"avatar-image-sm"%>
        </div>
        <p class="h5 mb-0 mt-2 text-dark"><%= user.name %></p>
        <p class="h6 mb-0 mt-2 text-muted">旅行<%= user.visited_countries.count %>ヶ国</p>
        <p class="h6 mb-0 mt-2 text-muted">フォロワー <%= user.following.count %> 人</p>
        <div class="my-3">
          <%= link_to " プロフィル", user_path(user), class:"btn btn-primary btn-block far fa-id-badge" %>
        </div>
      </div>
    </div>
  <% end %>
</div>