<div class="map-box page-header header-filter">
  <div id="mapdiv"></div>
</div>
<div class="row">
  <div class="col-12">
    <div class="container card mb-4">
      <div class="card-body">
        <div class="card-title mt-2">
          <div class="d-flex flex-column text-center">
            <div class="avatar-box"><%= avatar(@user, "avatar-image")%></div>
            <div>
              <p class="h4 my-2 text-dark"><%= @user.name %></p>
              <p class="h6 mb-0 text-muted">フォロワー <%= @user.followers.count %> 人</P>
              <p class="h6 mb-3 mt-2 text-muted">旅行<%= @user.visited_countries.count %>ヶ国</p>
              <% if current_user == @user %>
                <%= link_to " 編集", edit_user_registration_path, id:"user-edit", class: "btn btn-outline-primary fas fa-user-edit" %>
              <% else %>
                <%= render 'relationships/follow_form', user: @user %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <% if current_user == @user %>
          <nav>
            <div class="nav nav-tabs mx-2 text-center" id="nav-tab" role="tablist">
              <a class="nav-item nav-link" id="upcoming-trip-tab" data-toggle="tab" href="#upcoming-trip" role="tab" aria-controls="upcoming-trip" aria-selected="false">
                <i class="h4 fas fa-plane-departure"></i>
                <p class="h7">近づく旅行</p>
              </a>
              <a class="nav-item nav-link" id="trip-photo-tab" data-toggle="tab" href="#trip-photo" role="tab" aria-controls="trip-photo" aria-selected="false">
                <i class="h4 fas fa-camera-retro"></i>
                <p class="h7">旅行写真</p>
              </a>
              <a class="nav-item nav-link" id="saved-spot-tab" data-toggle="tab" href="#saved-spot" role="tab" aria-controls="saved-spot" aria-selected="false">
                <i class="h4 fas fa-map-pin"></i>
                <p class="h7">保存スポット</p>
              </a>
              <a class="nav-item nav-link" id="relationship-tab" data-toggle="tab" href="#relationship" role="tab" aria-controls="relationship" aria-selected="false">
                <i class="h4 fas fa-compass"></i>
                <p class="h7">フォロー</p>
              </a>
            </div>
          </nav>
          <div class="tab-content" id="nav-tab-content">
            <div class="tab-pane fade text-left mx-1 mt-4" id="upcoming-trip" role="tabpanel" aria-labelledby="upcoming-trip-tab">
              <% if @user_trips.length != 0 %>
                <%= render 'self_trip_cards', trips: @user_trips%>
              <% else %>
                <div class="text-center">
                  <p class="h6 my-5 text-muted">
                    次の旅行、どこに行きたいですか。
                    <%= link_to "探索する", trips_path, class:"btn btn-sm btn-outline-primary ml-2" %>
                  </p>
                </div>
              <% end %>
            </div>
            <div class="tab-pane fade text-left mx-1 mt-4" id="trip-photo" role="tabpanel" aria-labelledby="trip-photo-tab">
              <div class="user-gallery">
                <% if uploaded_photos(@user).length != 0 %>
                  <% uploaded_photos(@user).each do |image| %>
                    <%= image_tag image.url :thumb %>
                  <% end %>
                <% else %>
                  <div class="text-center">
                    <p class="h6 my-5 text-muted"> 現在アップロードした写真がありません。</p>
                </div>
                <% end %>
              </div>
            </div>
            <div class="tab-pane fade text-left mx-1 mt-4" id="saved-spot" role="tabpanel" aria-labelledby="saved-spot-tab">
              <% if @user.saved_spots.length != 0 %>
                <%= render 'spots/spot_cards', spots: @user.saved_spots %>
              <% else %>
                <div class="text-center">
                  <p class="h6 my-5 text-muted"> 保存済みのスッポトがありません。</p>
                  <%= link_to "スポット一覧へ", spots_path, class:"btn btn-sm btn-outline-primary ml-2"%>
                </div>
              <% end %>
            </div>
            <div class="tab-pane fade text-left mx-1 my-0" id="relationship" role="tabpanel" aria-labelledby="relationship-tab">
              <nav>
                <div class="nav nav-tabs mt-1 text-center" id="follow-tab" role="tablist">
                  <a class="follow-nav follow-nav-left" id="following-tab" data-toggle="tab" href="#following" role="tab" aria-controls="following" aria-selected="false">
                    <i class="h4 fas fa-compass"></i>
                    <span class="h7">フォロー中</span>
                  </a>
                  <a class="follow-nav follow-nav-right" id="follower-tab" data-toggle="tab" href="#follower" role="tab" aria-controls="follower" aria-selected="false">
                    <i class="h4 far fa-compass"></i>
                    <span class="h7">フォロワー</span>
                  </a>
                </div>
              <nav>
              <div class="tab-content" id="follow-tab-content">
                <div class="tab-pane fade text-left my-1" id="following" role="tabpanel" aria-labelledby="following-tab">
                  <% if @user.following.length != 0 %>
                    <%= render 'relationship_cards', relationships: @user.following %>
                  <% else %>
                    <div class="text-center">
                      <p class="h6 my-5 text-muted"> 現在フォロー中のユーザはいません。</p>
                    </div>
                  <% end %>
                </div>
                <div class="tab-pane fade text-left my-1" id="follower" role="tabpanel" aria-labelledby="follower-tab">
                <% if @user.followers.length != 0 %>
                  <%= render 'relationship_cards', relationships: @user.followers %>
                <% else %>
                  <div class="text-center">
                    <p class="h6 my-5 text-muted"> 現在フォロワーはいません。</p>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% else %>
          <nav>
            <div class="nav nav-tabs mx-2 text-center" id="nav-tab" role="tablist">
              <a class="nav-item nav-link" id="past-trip-tab" data-toggle="tab" href="#past-trip" role="tab" aria-controls="past-trip" aria-selected="false">
                <i class="h4 fas fa-passport"></i>
                <p class="h7">公開している旅行記録</p>
              </a>
              <a class="nav-item nav-link" id="follower-tab" data-toggle="tab" href="#follower" role="tab" aria-controls="follower" aria-selected="false">
                <i class="h4 fas fa-compass"></i>
                <p class="h7">フォロワー</p>
              </a>
            </div>
          </nav>
          <div class="tab-content" id="nav-tab-content">
            <div class="tab-pane fade text-left mx-1 my-1" id="past-trip" role="tabpanel" aria-labelledby="past-trip-tab">
              <% if @public_trips.length != 0 %>
                <%= render 'trips/other_users_trip_cards', trips: @public_trips %>
              <% else %>
                <div class="text-center">
                  <p class="h6 my-5 text-muted">
                    公開している旅行記録がありません。
                  </p>
                </div>
              <% end %>
            </div>
            <div class="tab-pane fade text-left mx-1 my-1" id="follower" role="tabpanel" aria-labelledby="follower-tab">
              <% if @user.followers.length != 0 %>
                <%= render 'relationship_cards', relationships: @user.followers %>
              <% else %>
                <div class="text-center">
                  <p class="h6 my-5 text-muted">
                  現在フォロワーはいません。</p>
                </div>
              <% end %>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(initialize_world_map)
</script>