<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<% @trips.each do |trip| %>
  <p><%= trip.name %>
  <%= trip.description %>
  <%= trip.start_day %> to <%= trip.end_day %>
  <%= trip_duration(trip) %>日
  ¥ <%= trip.est_amount%>
  <%= link_to trip.status, toggle_status_trip_path(trip.id) %>
  <%= link_to "#{trip.privacy}", toggle_privacy_trip_path(trip.id) %>

  <%= link_to 'Details', trip_path(trip)%>
  <%= link_to 'Edit Trip', edit_trip_path(trip)%>
  <%= link_to 'Edit Schedule', trip_schedules_path(trip)%>
  <%= link_to 'Delete', trip_path(trip, trip_id: trip.id), method: :delete, data: {confirm: "削除しますか？"}%>
  </p>
<%end%>