<div class="container">
  <div class="card mt-5 mb-2 shadow-sm">
    <div class="image-box">
    <% if @schedule.spot.main_image %>
      <%= image_tag @schedule.spot.main_image, class:"card-image" %>
    <% end %>
    </div>
    <div class="card-body spot-card-box">
      <p class="card-title mb-0 text-center"><%= @schedule.spot.name%></p>
      <p class="card-text h7 mb-0 text-center text-muted"><%= @schedule.spot.formatted_name%></p>
      <div class="text-center h7 mb-3">
        <% if @schedule.spot.rating %>
          <% @schedule.spot.rating.round(0).times do  %>
            <span class="fas fa-star star-img"></span>
          <% end %>
          <% (5 - @schedule.spot.rating.round(0)).times do  %>
            <span class="far fa-star star-img"></span>
          <% end %>
        <% else %>
          <p class="text-muted"><評価情報なし></p>
        <% end %>
        <small class="text-muted"><%=@schedule.spot.rating%></small>
    </div>
<%= form_with(model:[@trip, @schedule], url:update_details_trip_schedule_path(@trip.id, @schedule.id), local: true, html: { multipart: true }) do |f| %>
  <div class="field">
    <p class="mb-0 mt-5">感想をシェア・旅の思い出を記録しましょう</p>
    <%= f.text_area :feedback, class:"form-control mb-5" %>
  </div>

  <div>
    <div class="mb-3">
      写真をシェアしましょう
      <span class="float-right btn btn-light reset-image">リセット</span>
      <%= f.submit "保存", class:"float-right btn btn-primary mr-3" %>
    </div>
    <div class="row">
      <div class="upload-zone text-center" onClick="$('#uploader').click()">
        <div id="fa-icon">
        <i id="fa-icon" class="h2 text-muted mt-4 fas fa-cloud-upload-alt"></i>
        <p class="h6 mt-1 text-muted">クリック</p>
        </div>
        <div class="preview-box d-flex flex-wrap"></div>
      </div>
    </div>
    <%= f.file_field :images, multiple: true, id:"uploader", style: "display:none;" %>
  </div>

  <p class="mt-4 mb-0">アップロードした写真</p>
  <div class="row mx-auto mt-1">
    <div>
      <% @schedule.images.each_with_index do |image, index| %>
        <div class="gallery-box image">
          <%= hidden_field :schedule, :images, multiple: true, value:  image.cache_name || image.identifier %>
          <%= image_tag image.url, class: "gallery-image" %>
          <p><%= link_to '画像を削除', delete_image_trip_schedule_path(@trip, @schedule, index),data: { confirm: "写真を削除しますか" }, class:"btn btn-block btn-sm btn-light"%></p>
        </div>
      <% end %>
    </div>
  </div>

  <div class="actions text-center">
    <%= f.submit "保存", class:"btn btn-primary" %>
    <%= link_to "戻る", :back, class: "ml-3 btn btn-outline-primary"%>
  </div>
<% end %>
</div>